body {
  padding: 0;
  margin: 0;  
}
#mes{
  width:88%
}
#chat {
  /*border:5px dotted green;*/
  /*width: 80%;*/
  width: 95%;
  min-height: 100vh;
}
/*#mesblock {
  /*border:2px solid red;*/
  /*width: 80%;
}*/
#send_mes {
  /*border: 2px solid black;*/
  width: 100%
}
#mesblock {
  /*overflow: auto;*/
  position:relative;
  border-left: 2px solid grey;

}
#users{
  border-left: 2px solid grey;
}
/*#wrap {
  position:absolute;
	bottom:0;
}*/
#mesblock, #users {
  /*display:block;*/
  height: 100%;
  padding: 10px;
}
#messages {
  width: 100%;
  overflow: scroll;
  margin: 0;
  position:absolute;
  /*border:2px solid blue;*/
  height: 85%;
}
#send_mes {
  position:absolute;
	bottom:0;
}
.hid {
  visibility: hidden;
}
#users {
  width: 20%;
  /*float:left;*/
  height: 80%;
  /*border: 2px solid black;*/
}
input[type=text] {
  padding:10px;
  margin: 10px 5px; 
}
button {
  margin: 5px;
}
form {
  text-align: center;
  width: 100%;
  /*border:2px solid black;*/
  margin-left: auto;
  margin-right: auto; 
  position: absolute;
}
li { 
  color: blueviolet;
  list-style:none;
  text-decoration: none;
}
li:hover{
  color:blue;
  text-decoration: underline;
}
.using{
  /*list-style: circle;*/
  text-decoration: underline;
  color:green;
}
.using:hover{
  cursor: pointer;
}
.noted::after {
  content: " *";
}
